<main>
    <div>
        <h4 style="text-align: center; margin: 50px">Actividades</h4>
    </div>
    <div id="actividadesDiv">
        {{#each actividades}}
        <div class="eachDiv">
            <h4>Clase: {{this.clase}}</h4>
            <p>Precio: ${{this.costo}}</p>
        </div>
        {{/each}}
    </div>
</main>