<div id="loginDiv">
    <p>Ingrese usuario y contraseña</p>
    <div style="border: 1px solid black">
        <form action="/admin/login" method="post">
            <div>
                <div>
                    <input type="text"
                        id="inputUser"
                        placeholder="Usuario"
                        name="usuario">
                </div>
            </div>
            <div >
                <div>
                    <input type="text"
                        id="inputPassword"
                        placeholder="contraseña"
                        name="password">
                </div>
            </div>
            <button type="submit">Ingresar</button>
        </form>
        {{#if error}}
            <p>Error y/o contraseña incorrecto</p>
        {{/if}}
    </div>
</div>