.header{
    background-color: rgb(255, 141, 141);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-img{
    width: 200px;
}
.divNovedades{
    display: flex !important;
    justify-content: flex-end;
    margin: 50px;
}
#loginDiv{
    display: flex;
    flex-direction: column;
    align-items: center;}

#loginDiv p{
    font-size: 25px;
    margin: 30px;
}
#novedadesDiv a{
    background-color: rgb(255, 141, 141);
    color: black;
}