.header{
    background-color: rgb(255, 141, 141);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-img{
    width: 200px;
}
.divNovedades{
    display: flex !important;
    color: red;
}